# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# App Port
APP_POST_LOCAL=3001
APP_POST_PROD=3000

# Swagger Documentation
APP_TITLE="Lokal-ai"
APP_DESCRIPTION="API documentation for Lokal-AI"
APP_VERSION="1.0"
APP_TAG="lokal-ai"
APP_SWAGGER_APP_PREFIX="/api"

# Ollama Services
OLLAMA_HOST= #ollama URL
NODE_OPTIONS="--dns-result-order=ipv4first"


# Clerk setup
CLERK_PUBLISHABLE_KEY= #Add clerk publishable key here
CLERK_SECRET_KEY= # Add clerk secrety here
JWT_TEMPLATE_NAME=userProfile

# Front end setup
FRONTEND_BASE_URL= #Front End URL


# Database Credentials
POSTGRES_USER=<DB_USER>
POSTGRES_PASSWORD= <DB_PASSWORD>
POSTGRES_DB=<DB_NAME>
DATABASE_URL_LOCAL="postgresql://postgres:<YOUR_POSTGRES_PASSWORD>@<HOST>:<PORT>/<DATABASE_NAME>"
DATABASE_URL_PROD="postgresql://postgres:<YOUR_POSTGRES_PASSWORD>@<HOST>:<PORT>/<DATABASE_NAME>"

# Drant Setup
QDRANT_URL= # Qdrant URL
EMBEDDING_MODEL=nomic-embed-text